// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
	margin: 0;
	font-family: "Poppins", sans-serif;
}
.App {
	.container {
		padding: 0;
	}
	header {
		padding: 50px 0;
	}
	.btn {
		display: inline-block;
		border: none;
		background: #555;
		color: #fff;
		padding: 7px 20px;
		cursor: pointer;
	}

	.btn:hover {
		background: #666;
	}
	.AddForm {
		margin: 30px;
	}
	.todo-item {
        margin: 0 30px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        input {
			// width: ;
			background: #666;
        }
        p{
            padding: 10px;
        }
		button {
			background: #fa4040;
			color: #fff;
			border: none;
			padding: 5px 15px;
			cursor: pointer;
		}
    }
    .todo-item:hover{
        background: #555;
        color: white;
    }
}
